################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/BatchMaster.Test/obj/Debug
/source/BatchMaster/obj/Debug
/source/BatchMaster/bin/Debug
/source/BatchMaster.Test/bin/Debug
